header {
    grid-area: Header;
    display: flex;
    align-items: center;
    z-index: 2;

    img {
        margin: auto;
        max-height: 100px;
    }
}

.profile {
    $image-height : 75px;
    $right-space : 30px;
    &-image {
        position: absolute;
        border-radius: 50%;
        height: $image-height;
        width: $image-height;
        background-color: #bbb;
        top: 30px;
        right: $image-height + $right-space;
        z-index: 11;
    }

    &-card {
        position: absolute;
        top: 10px;
        right: $right-space;
        z-index: 10;
        height: 4 * $image-height;
        width: 3 * $image-height;
        background-color: $color-secondary;
        color: #333;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.75 * $image-height;
    }
    
    &-name {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 5px;
    }
    
    &-profession {
        font-style: italic ;
        font-weight: 300;
        font-size: 24px;
        margin-bottom: 5px;
    }

    &-logout {
        border-radius: 10px;
        position: absolute;
        bottom: 10%;
        height: 40px;
        padding: 10px 30px;
        font-size: 16px;
    }
}