* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border-radius: 30px;
  background-color: #fd2d01;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: rgba(253, 45, 1, 0.6);
}

.button-toggler {
  position: fixed;
  top: 100px;
  left: 100px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30px;
  width: 50px;
  z-index: 2;
}

.button-toggler__bar {
  border: 1px solid red;
  width: 100%;
  height: 3px;
  background-color: #4E5166;
}

input {
  border-radius: 50px;
}

.modify-button {
  position: absolute;
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  font-size: 16px;
  bottom: -50px;
  right: 90px;
}

.delete-button {
  position: absolute;
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  font-size: 16px;
  bottom: -50px;
  right: 0px;
}

.thumbs {
  position: absolute;
  bottom: -50px;
  left: 0px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image_button {
  cursor: pointer;
  background-color: #fd2d01;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 24px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  font-size: 16px;
  bottom: 0px;
  right: 180px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
}

.image_button:hover {
  background-color: rgba(253, 45, 1, 0.6);
}

.modal_image_button {
  cursor: pointer;
  background-color: #fd2d01;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  font-size: 16px;
  bottom: -50px;
  right: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
}

.modal_image_button:hover {
  background-color: rgba(253, 45, 1, 0.6);
}

input[type="file"] {
  display: none;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

.modal-modify {
  position: relative;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 20px;
  width: 500px;
  height: 200px;
  z-index: 21;
}

.modal-modify .publication-value {
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  height: 100%;
  border: none;
}

.modal-modify .modify-button {
  position: absolute;
  bottom: -50px;
  right: 0;
}

.modal-modify .image_button {
  height: 30px;
  position: absolute;
  bottom: -50px;
  right: 100px;
  padding: 5px;
}

.modal .modal-publish-image {
  position: relative;
  right: 0px;
  height: 100%;
  width: auto;
  border-radius: 0 15px 15px 0;
  border-radius: 15px;
  max-height: 250px;
  max-width: 250px;
  right: 0;
}

.modal-close {
  color: red;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 100px;
  right: 100px;
}

header {
  position: relative;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

header img {
  margin: auto;
  max-height: 100px;
}

.profile-image {
  position: absolute;
  top: 40px;
  right: 105px;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: #bbb;
  z-index: 11;
}

.profile-card {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
  height: 300px;
  width: 225px;
  background-color: #FFD7D7;
  color: #333;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 131.25px;
}

.profile-name {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 5px;
}

.profile-profession {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 5px;
}

.profile-modification {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-modification .profile-image {
  position: absolute;
  z-index: 10000;
  top: 10px;
  right: 75px;
  background-position: 50% 50%;
}

.profile-modification label {
  z-index: 1000;
}

.profile-modification .back_button {
  position: absolute;
  top: -75px;
  right: 10px;
  border: none;
  background-color: #FD2D01;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}

.profile-modify {
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  font-size: 16px;
}

.profile-validate {
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  font-size: 16px;
}

.profile-logout {
  cursor: pointer;
  border-radius: 30px;
  background-color: #fd2d01;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  bottom: 10%;
  height: 40px;
  padding: 10px 30px;
  margin: 10px;
  font-size: 16px;
}

.Members {
  position: fixed;
  width: 25vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4E5166;
  color: #fff;
  left: 0;
  top: 0;
  z-index: 3;
  padding-top: 200px;
  padding-left: 40px;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.member-name {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-right: 10px;
}

.member-connected {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 0;
}

.networking {
  position: absolute;
  top: 100px;
  right: 0;
  width: 75vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publish-post {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.publish-post .submitPost {
  border-radius: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 150px;
  height: 60px;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 24px;
  font-weight: 600;
}

.publish-post .form-input {
  position: relative;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.publish-post .form-input .publish-text__area {
  position: relative;
  left: 0;
  justify-self: flex-start;
  border-radius: 15px 0px 0px 15px;
  height: 200px;
  width: 100%;
  resize: none;
  padding: 15px;
  font-size: 24px;
  word-wrap: break-word;
}

.publish-post .form-input .modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
}

.publish-post .publish-image {
  position: relative;
  right: 0px;
  height: 100%;
  width: auto;
  border-radius: 0 15px 15px 0;
}

.publish-post .image_replacement {
  position: relative;
  right: 0;
  height: 100%;
  width: 150px;
  border-radius: 0 15px 15px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.publications {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 50px;
  grid-area: Publications;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publication {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 1000px;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 100px;
}

.publication_container {
  position: relative;
  padding: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.publication_value {
  min-height: 50px;
  width: 100%;
  word-wrap: break-word;
}

.publication_image__container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100px;
  border-radius: 0 10px 0 0;
  z-index: 2;
}

.publication_image__container .publication_image {
  height: 100%;
  width: 100%;
  background-image: url("../assets/photo-1509909756405-be0199881695.webp");
  background-position: 0% 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  z-index: 3;
}

.publication_image__container .publication_image::after {
  content: "";
  display: block;
  z-index: 5;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, white 0%, rgba(0, 0, 0, 0) 50%);
  height: 100%;
  width: 100%;
}

.user {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #FFD7D7;
  border-radius: 0 0 10px 10px;
  text-align: end;
  padding-right: 20px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  body {
    max-width: 100vw;
  }
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header img {
    justify-self: flex-start;
  }
  .publication {
    width: 300px;
  }
}

@media (max-width: 465px) {
  .none {
    display: none;
  }
  .button-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.groupomania-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.groupomania-form__input {
  padding-left: 20px;
  width: 60%;
  height: 60px;
  font-size: large;
  margin-bottom: 20px;
  border: 1px solid #333;
}

.welcome__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.groupomania-showcase {
  height: 100%;
  width: 50%;
  left: 0;
  text-align: center;
}

.groupomania-logo {
  height: auto;
  width: auto;
  max-width: 70%;
  top: 50px;
  z-index: 10;
}

.groupomania-showcase__image {
  height: 100%;
  width: 100%;
  z-index: -1;
  height: 100vh;
  width: 50vw;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/jud-mackrill-Of_m3hMsoAA-unsplash-min.jpg");
  background-position: 35% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .2;
}

.connexion-form {
  height: 60vh;
  width: 50vw;
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.connexion-form button {
  height: 100px;
  width: 55%;
  font-size: 3rem;
  padding: 5px;
}

.connexion-form .submit-button {
  border-radius: 30px;
  background-color: #FD2D01;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  width: 40%;
  font-size: 30px;
}

.Posts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
/*# sourceMappingURL=Home.css.map */