.Posts {
    display: grid;
    width: 100vw;
    min-height: 100vh ;
    grid-template-columns: 5;
    grid-template-rows: 10;
    grid-template-areas: 'Members Header Header Header Header'
                'Members AddPost AddPost AddPost AddPost'
                'Members Publications Publications Publications Publications'
                'Members Publications Publications Publications Publications'
                'Members Publications Publications Publications Publications'
                'Members Publications Publications Publications Publications'
                'Members Publications Publications Publications Publications'
                'Members Publications Publications Publications Publications'
                'Members Publications Publications Publications Publications'
                'Members Publications Publications Publications Publications'
                ;
}