$header-height: 100px;
header {
    position: relative;
    top: 0;
    left: 0;
    height: $header-height;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 5;

    img {
        margin: auto;
    }

    .profile-card {
        position: absolute;
    }
}

.profile {
    $image-height : 75px;
    $margin : 30px;
    $card-width : 225px;
    $card-height: 300px;
    &-image {
        position: absolute;
        top: $margin+ 10px;
        right: ($card-width / 2) + $margin - $image-height / 2;
        border-radius: 50%;
        height: $image-height;
        width: $image-height;
        background-color: #bbb;
        z-index: 60;
    }

    &-card {
        position: relative;
        top: $margin;
        right: $margin;
        z-index: 50;
        height: fit-content;
        width: $card-width;
        background-color: $color-secondary;
        color: #333;
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5*$image-height 10px 10px 10px;
    }
    
    &-name {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 5px;
    }
    
    &-profession {
        font-style: italic ;
        font-weight: 300;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .profile-image {
        position: absolute;
        z-index: 15;
        top: 10px;
        right: $card-width/ 2 - $card-height / 8;
        background-position: 50% 50%;
        background-size: cover;
    }
    
    &-modification {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        label{ 
            &.profile-image {
                position: absolute;
                z-index: 70;
                right: $card-width/ 2 - $card-height / 8;
                top: 10px;
            }
        }

        .back_button {
            position: absolute;
            top: 20px;
            right: 10px;
            border: none;
            background-color: $color-primary;
            color: #fff;
            font-size: 12px;
            padding: 5px;
            border-radius: 5px;
        }
    }

    &-modify {
        @include modify-button();
    }

    &-validate {
        @include modify-button();
    }

    &-logout {
        cursor: pointer;
        border-radius: 30px;
        background-color: #fd2d01;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        bottom: 10%;
        height: 40px;
        padding: 10px 30px;
        margin: 10px;
        font-size: 16px;
    }
}