@media screen and (max-width: 768px) {
    .connexion-form {
        width: 100%;
        padding: 50px 0;

        .sign-in-form {
            padding: 0;
        }

        .groupomania-form__input {
            width: 80%;
        }
    }

    .groupomania-showcase{
        width: 30vw;

        &__image{
            width: 30vw;
            background-position: 43% 50%;
        }
    }

    header {
        display: flex;
        justify-content: space-around;
        margin-left: 0;
        margin-top: 10px;
        height: 70px;
        padding-left: 100px;

        .groupomania-logo{
            margin: 0;
            top: 0;
            position: relative;
            width: 100%;
            max-width: 450px;
            height: auto;
        }


        .profile-image{
            position: relative;
            margin: 10px;
            top: 0px;
            right: 0px;
            border-radius: 50%;
            height: 75px;
            width: 75px;
            background-color: #bbb;
        }

        .profile-card {
            top: 85px;

            label img {
                top: -10px;
            }
        }
    }

    .Members {
        position: fixed;
        min-width: 100px;
        width: fit-content;
        min-height: 100vh;
        height: 100%;
        padding: 50px 0 0 0;
        z-index: 40;

        &:hover {
            width: 300px;
            align-items: flex-start;
            justify-content: flex-start;

            .member {
                flex-direction: row;
            }

            .member-profile {
                margin: 10px 0;
            }

            .member-name {
                display: inline-block;
            }

            .modal-member {
                transform: translate3d(-50px, 0, 10px);
            }
        }

        ul {
            height: 400px;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }

        & .show_members {
            width: fit-content;
        }

        .member {
            padding: 0;
            margin: 0;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            z-index: 10;

            .member-profile-image {
                height: 35px;
                min-height: 35px;
                width: 35px;
                max-width: 35px;
            }
        }
        
        .member-name {
            display: none;
        }
        
        .member-profile {
            z-index: 10;
            left: 0;
            margin: 10px 0;
        }
        
        .profile-image {
            left: 0;
            margin: 10px auto;
            display: none;
        }
        
        .member-connected {
            right: 0%;
            top: 30px;
        }
        
        .profile-card {
            display: none;
            text-align: center;
            height: fit-content;
            padding: 10px;
            top: 0;
        }

        .modal-member {
            height: fit-content;
            padding: 20px;
            transform: translate3d(180px, 0px, 10px);

            .member-name {
                display: block;
            }
        }
    }

    .networking {
        align-items: center;
        padding: 50px 20px;

        .form-input {
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            height: fit-content;
            border-radius: 20px;
            
            .publish-text__area {
                margin-bottom: 5px;
                min-height: 150px;
                border: none;
                border-radius: 20px;
            }
            .publish-image {
                height: 150px;
                width: auto;
                position: relative;
                border-radius: 20px;
            }
        }

        .form-buttons {
            justify-content: center;

            button {
                width: 46%;
            }
        }
    }

    .publication {
        width: 100%;
    }
}

@media screen and (max-width: 465px) {
    html {
        width: 100vw;
    }

    body {
        padding: 10px;
        width: 100vw;
        overflow-x: hidden;
    }

    .groupomania-logo {
        position: relative;
        height: 60px;
        top: 0px;
        right: 0px;
        margin: 0;
    }

    .groupomania-showcase{
        position: absolute;
        top: 0;
        left: 0;
        width: 50vw;
        height: fit-content;
    }

    .groupomania-showcase__image{
        display: none;
    }

    .connexion-form {
        width: 100vw;
        padding: 50px 20px;

        .sign-in-form {
            padding: 0;
        }

        button {
            width: fit-content;
            padding: 10px;
        }
    }


    header {
        .profile-image {
            display: none;
        }

        .profile-card{
            display: none;
        }
    }

    .Members {
        min-width: 100vw;
        padding-top: 75px ;
        transform: translateX(-100%);

        ul {
            height: 400px;
            overflow-y: auto;
        }

        .profile-image{
            display: block;
            width: 75px;
            height: 75px;
            margin-bottom: 20px;
        }

        .profile-card {
            display: flex;
            width: 200px;
            padding: 5px;
            height: fit-content;
            justify-content: flex-end;
            left: 0;
            margin: 0 auto;

            label img {
                top: -10px;
            }
        }

        .member {
            padding: 0px 5%;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: flex-start;

            &-name{
                display: inline-block;
                width: 50%;
                text-overflow: ellipsis;
            }

            &-profile {
                margin: 2% 0px;
            }

            &-profile-image {
                justify-self: flex-start;
            }
        }

        &:hover {
            .modal-member {
                padding: 2%;
                transform: translate3d(0px, 0px, 10px);
                min-width: 170px;
            }
        }


        &.show_members {
            transform: translateX(0%);
        }
    }

    .profile-modification label .indicator{
        top: 50px;
    }

    .publish-post {
        padding: 0 10px;
    }

        .profile-image {
        position: relative;
        top: 0;
    }

    .networking{
        width: 100%;
        padding: 20px;

        .thumbs {
            width: 80px;
        }
    }

    .button-toggler {
        position: absolute;
        top: 35px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .Posts {
        display: flex;
        flex-direction: column;
    }
}