$members-width: 25vw;

.Members {
    position: fixed;
    width: $members-width;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $color-tertiary;
    color: #fff;
    left: 0;
    top: 0;
    z-index: 3;
    padding-top: 200px;
    padding-left: 40px;
}

.member {
    display: flex;
    margin-bottom: 25px;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    
    &-name {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        margin-right: 10px;
    }

    &-connected {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        right: 0;
    }
}

