$members-width: 25vw;

.Members {
    position: fixed;
    width: $members-width;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $color-tertiary;
    color: #fff;
    font-size: 1.1rem;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 150px 15px ;

    .profile-image{
        display: none;
    }

    .profile-card{
        display: none;
    }

    ul {
        padding-right: 5px;
        padding-top: 20px;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        ::-webkit-scrollbar-track-piece {
            display: none;
        }
    }
}

.member {
    z-index: 35;
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    
    &-name {
        color: #fff;
        font-weight: 600;
        text-overflow: ellipsis;
        width: 80%;
    }

    &-profession {
        color: $color-secondary;
        font-size: 1rem;
        font-weight: 600;
        margin-right: 10px;
    }

    .modal-close {
        top: 0;
        right: 0;
    }

    .member-profile{
        width: fit-content;
        height: 100%;
        right: 0;
        position: relative;
    }
    
    .member-profile-image {
        height: 50px;
        min-height: 50px;
        max-width: 50px;
        width: 50px;
        border-radius: 50%;
        top: -5px;
        border: 2px solid #f4f4f4 ;
    }    
    
    .modal-member {
        position: absolute;
        margin: 5px 0px;
        height: fit-content;
        min-width: 180px;
        width: fit-content;
        padding: 5%;
        background-color: $color-tertiary;
        border: 1px solid #666;
        border-radius: 10px;
        z-index: 100;
        transform: translateX(0px);
    }
}

