$members-width: 25vw;

.Members {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    width: $members-width;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $color-tertiary;
    color: #fff;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 200px 15px;
}

.member {
    position: relative;
    display: flex;
    margin-bottom: 25px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    
    &-name {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        margin-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
    }

    &-connected {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        right: -5px;
        top: 30px;
        z-index: 70;
    }

    &-profession {
        color: $color-secondary;
        font-size: 24px;
        font-weight: 600;
        margin-right: 10px;
    }

    .modal-close {
        top: 0;
        right: 0;
    }

    .member-profile{
        width: fit-content;
        height: 100%;
        right: 0;
        position: relative;
    }
    
    .member-profile-image {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        top: -5px;
    }    
    
    .modal-member {
        position: absolute;
        top: -20px;
        margin-right: 20px;
        height: fit-content;
        width: 270px;
        padding: 30px;
        background-color: $color-tertiary;
        border: 1px solid #666;
        border-radius: 10px;
        z-index: 60;
    }
}

