.networking {
    position: absolute;
    overflow-y: scroll;
    scrollbar-base-color: #F4F4F4;
    scrollbar-color: $color-primary;
    scrollbar-width: 5px;
    scrollbar-gutter: auto;
    top: $header-height;
    right: 0;
    width: 100vw - $members-width;
    height: fit-content;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publish-post {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .submitPost {
        border-radius: 10px;
        width: 150px;
        height: 60px;
        font-size: 24px;
        font-weight: 600;
    }

    .form-input {
        position: relative;
        height: 200px;
        display: flex;

        .publish-text__area {
            position: relative;
            left: 0;
            justify-self: flex-start;
            border-radius: 15px 0px 0px 15px;
            height: 200px;
            width: 100%;
            resize: none;
            padding: 15px;
            font-size: 24px;
            word-wrap: break-word;
        }

        .modal-close {
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }

    .form-buttons{
        padding: 5px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
    }

    .publish-image {
        @include form_image()
    }

    .image_button {
        margin: 0;
    }

    .image_replacement {
        position: relative;
        right: 0;
        height: 100%;
        width: 150px;
        border-radius: 0 15px 15px 0;
        background-color: rgba(0, 0, 0, 0.1);
    }

}

.publications {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    grid-area: Publications;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publication {
    position: relative;
    width: 100%;
    height: fit-content;
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;

    &_container {
        position: relative;
        padding: 15px;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &_value {
        min-height: 50px;
        width: 100%;
        word-wrap: break-word;
        padding-bottom: 10px;       
    }

    &_image__container {
        position: relative;
        max-height: 250px;
        width: auto;
        z-index: 2;
        
        .publication_image {
            height: 100%;
            max-height: 250px;
            width: 100%;
            opacity: 0.6;
            z-index: 3;
            border-radius: 10px;
        }
        
    }
}

$user-height : 50px;
.user {
    bottom: 0;
    left: 0;
    width: 100%;
    height: $user-height;
    background-color: $color-secondary;
    border-radius: 0 0 10px 10px;
    text-align: end;
    padding: 10px 20px;
    font-size: 20px;
}
